<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%=@title%></title>
    <link href="/css/style.css?v=1.10" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="cell">
        <div class="content">
            <table id="table" class="table">
                <tr>
                    <th>time</th>
                    <th>project name</th>
                    <th>project github</th>
                    <th>team name</th>
                    <th>weixin</th>
                    <th>email</th>
                    <th>more</th>
                </tr>
                <%for project in @projects%>
                <tr>
                    <th><%=project["time"]%></th>
                    <th><%=project["project_name"]%></th>
                    <th><%=project["project_github"]%></th>
                    <th><%=project["team_name"]%></th>
                    <th><%=project["team_weixin"]%></th>
                    <th><%=project["team_email"]%></th>
                    <th><a href="/baoming/<%=project["id"]%>">more</a></th>
                </tr>
                <%end%>
            </table>
        </div>
    </div>
</div>
</body>
</html>